<html>
<body>

<form>
<ul>
<li style="display: inline;"><a href="#Estudiante">Estudiante</a></li>
<li style="display: inline;"><a href="#Docente">Docente</a></li>
<li style="display: inline;"><a href="#Curso">Curso</a></li>
<li style="display: inline;"><a href="#DocenteCur">Docente en Curso</a></li>
<li style="display: inline;"><a href="#EstudianteCur">Estudiante en Curso</a></li>
<li style="display: inline;"><a href="#Pagos">Pagos</a></li>
</ul>
</form>

	<div class="space-16"></div>
	<div align="right">
       UID: {{uid}}
       <br/>NOMBRE USUARIO: {{name}}
       <br/>E-MAIL USUARIO: {{email}}
       <br/>
       <a ng-click="logout();">Salir</a>
       </div>
    </div>

</div>

</body>
</html>