<!DOCTYPE html>
<html>
<head>
	<title>Reporte Inpagos</title>
</head>
<body>

<div id='inpagoform'>
<form>
		<ul>
		<li style="display: inline;"><a href="#Estudiante">Estudiante</a></li>
		<li style="display: inline;"><a href="#Docente">Docente</a></li>
		<li style="display: inline;"><a href="#Curso">Curso</a></li>
		<li style="display: inline;"><a href="#DocenteCur">Docente en Curso</a></li>
		<li style="display: inline;"><a href="#EstudianteCur">Estudiante en Curso</a></li>
		<li style="display: inline;"><a href="#Pagos">Pagos</a></li>
		<li style="display: inline;"><a href="#Reporte Inpagos">Reporte Inpagos</a></li>
		</ul>
		
		<input type="button" value="Generar Reporte" ng-click="displayInpagos()">
		<button onclick="myFunction('printable')">Imprimir</button>
</form>

<div style="padding: 0 0 0 200px" id="printable">
<br>
<img style="width: 569px; height: 105px" src="assets/report_logo.png">
	<table>
		<thead>
			<tr>
				<th>UID Estudiante</th>
				<th>Nombre</th>
				<th>Estado</th>
				<th>Email</th><br>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat = "inpagos in datainpago">
				<td><p>{{inpagos.id}}</p></td>
				<td><p>{{inpagos.namestudent}}&nbsp;</p></td>
				<td><p style="color: red">{{inpagos.estadopago}}&nbsp;</p></td>
				<td><p>{{inpagos.emailstudent}}</p></td>
			</tr>
		</tbody>
	</table>
</div>
</div> <!--Docente Div-->

<div class="space-16"></div>
	<div align="right">
       UID: {{uid}}
       <br/>NOMBRE USUARIO: {{name}}
       <br/>E-MAIL USUARIO: {{email}}
       <br/>
       <a ng-click="logout();">Salir</a>
       </div>
</div>

<script>
function myFunction(printable) {
    var printContents = document.getElementById(printable).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}
</script>

</body>
</html>