<!DOCTYPE html>
<html>
<head>
	<title>Reporte Inpagos</title>
</head>
<body>
<div id='inpagoform'>
<form>
		<ul>
		<li style="display: inline;"><a href="#Estudiante">Estudiante</a></li>
		<li style="display: inline;"><a href="#Docente">Docente</a></li>
		<li style="display: inline;"><a href="#Curso">Curso</a></li>
		<li style="display: inline;"><a href="#DocenteCur">Docente en Curso</a></li>
		<li style="display: inline;"><a href="#EstudianteCur">Estudiante en Curso</a></li>
		<li style="display: inline;"><a href="#Pagos">Pagos</a></li>
		<li style="display: inline;"><a href="#Reporte Inpagos">Reporte Inpagos</a></li>
		</ul>
		
		<input type="button" value="Generar Reporte" ng-click="displayInpagos()">
</form>

	<table>
		<thead>
			<tr>
				<th>UID Estudiante</th>
				<th>Nombre</th>
				<th>Estado</th>
				<th>Email</th><br>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat = "inpagos in datainpago">
				<td><p>{{inpagos.id}}</p></td>
				<td><p>{{inpagos.namestudent}}&nbsp;</p></td>
				<td><p style="color: red">{{inpagos.estadopago}}&nbsp;</p></td>
				<td><p>{{inpagos.emailstudent}}</p></td>
			</tr>
		</tbody>
	</table>
</div> <!--Docente Div-->

<div class="space-16"></div>
	<div align="right">
       UID: {{uid}}
       <br/>NOMBRE USUARIO: {{name}}
       <br/>E-MAIL USUARIO: {{email}}
       <br/>
       <a ng-click="logout();">Salir</a>
       </div>
</div>
</body>
</html>